#map{
    width: 550px;
    height: 550px;
    background-image: url(img/Cave.png);
    background-size: contain;
    display: block;
    float: left;
}

#ghost{
    padding-left: 250px;
    padding-top: 250px;
}

#ghostImg{
    width: 50px;
    height: 50px;
}

#description{   
    width: 300px;
    height: 550px;
    overflow: auto;
}

#story{
    text-align: center;
}